/*--CSS Reset--*/

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header {
    font-size: 25px;
    color: red;

}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(71, 71, 71);
    background-image: url(../img/pexels-huseyn-kamaladdin-667838.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position-y: -400px;
}

header > h1 {
    text-align: center;
    padding: 8px;
}

article {
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    border: 4px solid white;
    border-radius: 8px;
    margin: 40px 20px;
    text-align: left;
}

article > h2 {
    color: gray;
    padding: 4px 8px;

}

article:first-of-type {
    border: 4px solid grey;
}

#in-progress {
    border: 4px solid yellow;
}

#in-progress h2 {
    color: yellow;
}

#done {
    border: 4px solid rgb(0, 255, 0);
}

#done h2 {
    color: rgb(0, 255, 0);
}

ul {
    list-style-type: none;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.to-do-ul li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.20);
}

.in-progress-ul li:nth-child(odd) {
    background-color: rgba(255, 255, 0, 0.20);
}

.done-ul li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.20);
}

input[type="text"]{
    width: 300px;
    height: 22px;
    border: 0px;
    margin-right: 30px;
    background-color: rgba(5, 5, 5, 0.2);
    color: white;
    font-size: 17px;
}

input[type="checkbox"] {
   width: 20px;
   height: 20px;
 
}